html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #9470ff;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #473285;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #756a94;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #a295c9;
}

.account {
    width: 400px;
    float: left;
    margin: 4%;
    margin-left: 8%;
    margin-block-start: auto;
    border: 1px solid black;
    margin-top: 2%;
    background-color: #756a94;
}

.accountName {
    margin-left: 30%;
};

.nodeInfo {
    border: 1px solid black;
    height: 650px;
    width: 1500px;
    margin-left: 10%;
}

.nodeImg {
    float: left;
    height: 500px;
    width: 500px;
    padding-right: 13%;
    margin-left: 12%;
    margin-top: 5%;
}

.nodeName {
    font-size: 3.5em;
    margin-top: 7.48%;
    float: left;
    white-space: nowrap;
}

.nodeUsername, .nodePassword, .nodeEmail {
    font-size: 2.5em;
    float: left;
    margin-left: 2%;
    padding-right: 5%;
    margin-right: 30%;
    white-space: nowrap;
    width: 100px;
}

.nodeClose {
    height: 7.6%;
    width: 3%;
    font-size: 2.5em;
    margin-top: 7%;
    margin-left: 25%;
}

.userSettings {
    border: 1px solid black;
    height: 600px;
    width: 1200px;
    margin-left: 19%;
    margin-top: 7%;
    background-color: #473285;
}

.profileUsername {
    font-size: 4em;
    margin-left: 23%;
    margin-top: 10%;
    float:left;
}

.profileDate {
    font-size: 2.5em;
    margin-left: -23%;
    margin-top: 24%;
    float: left;
    margin-right: 20%;
}

.changePass, .premium, .profileClose {
    height: 70px;
    width: 270px;
    float: right;
    font-size: 1.6em;
    margin-right: 11%;
}

.changePass {
    margin-top: -18%;
}

.premium {
    margin-top: 0%;
}

.profileClose {
    margin-top: 4%;
}



/*
.domoForm {
    border: 2px solid #338acc;
    height: 35px;
    width: 700px;
    margin-top:0px;
    padding-top:10px;
    background-color: #55acee;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.domoForm label {
    display: inline-block;
    width: 75px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: white;
}

.domoForm input[type=text] {
    float:left;
}

.makeDomoSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 90px;
    background-color: #55acee;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}

.makeDomoSubmit:link, .makeDomoSubmit:visited, .makeDomoSubmit:hover, .makeDomoSubmit:active {
    color: white;
}

.makeDomoSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #55acee;
    border-radius: 2px;
    border-color: #66acee;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

*/